table{
    border-collapse: collapse;
    
}
table tr{
    border-bottom: 1px solid black;
    text-align: center;
    
    
}
table td{
    padding: 10px;
}
tr th{
    width: 250px;
    background-color: antiquewhite;
    padding: 10px;
   
}
#tablacotenido{
    text-align: center;
}