<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/reporte.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>TABLA DE DATOS</title>
</head>
<body>

    
    <div id="tablacotenido">
        <h2>RESULTADO DIAGNOSTICO DE DIABETIS</h2>
        </div>
    <table align="center">
     <thead>
        <tr>
            <th>Nombre</th>
            <th>Resultado</th>
        </tr>
     </thead>
     <tbody>
        {% for index, row in resultados.iterrows() %}
        <tr>
            <td>{{row["NOMBRE"]}}</td>
            <td>{{row["CLASS"]}}</td>
        </tr>
        {% endfor %}
     </tbody>
    </table>
</div>


</body>
</html>